@font-face {
    font-family: 'Heavitas';
    src: url('fonts/Heavitas.eot');
    src: url('fonts/Heavitas.eot') format('embedded-opentype'),
        url('fonts/Heavitas.woff2') format('woff2'),
        url('fonts/Heavitas.woff') format('woff'),
        url('fonts/Heavitas.ttf') format('truetype'),
        url('fonts/Heavitas.svg#Heavitas') format('svg');
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*------------------------------------- HEADER -------------------------------------*/

#header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    text-align: center;
    background-color: black;
}

.logo {
    height: 130px;
}


/*------------------------------------- Body -------------------------------------*/

.first-partie {
    background-image: url("./images/background1.png");
    height: calc(100vh - 100px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -500px;
}

.first-partie .row>div:first-child {
    position: relative;
    left: 150px;
    margin-top: 50px;
}

.first-partie .title-button {
    text-align: center;
}

.first-partie .title-button h1 {
    font-family: 'Heavitas';
    text-align: left;
    color: white;
}



.first-partie img {
    width: 100%;
    margin-top: 30px;
    margin-left: 100px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    font-weight: bold;
    font-size: 24px;
    border: none;
    outline: none;
    color: black;
    background: #ff7f00;
    font-family: 'Heavitas';
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff7f00;
    left: 0;
    top: 0;
    border-radius: 10px;
}


/*------------------------------------- FOOTER -------------------------------------*/

footer .nav-item, .nav-link {
    color: gray;
}

footer .nav-link:hover {

    color: white;
}

.social-footer__list {
    display: flex;
    gap: 10px;
    list-style: unset;
    padding: 0;
}