@font-face {
    font-family: 'Heavitas';
    src: url('fonts/Heavitas.eot');
    src: url('fonts/Heavitas.eot') format('embedded-opentype'),
        url('fonts/Heavitas.woff2') format('woff2'),
        url('fonts/Heavitas.woff') format('woff'),
        url('fonts/Heavitas.ttf') format('truetype'),
        url('fonts/Heavitas.svg#Heavitas') format('svg');
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*------------------------------------- HEADER -------------------------------------*/

#header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    text-align: center;
    background-color: black;
}



.mid {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 1em;
}

.logo {
    height: 130px;
}

/* Switch starts here */
.rocker {
    display: inline-block;
    position: relative;
    left: 250px;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
}

.rocker-small {
    font-size: 0.75em;
    /* Sizes the switch */
    /* margin: 1em; */
}

.rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
}

.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
}

.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}

.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #ff7300;
    color: #fff;
}

.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}

.switch-left::before {
    left: -0.4em;
}

.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

input:checked+.switch-left {
    background-color: #ff7300;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

input:checked+.switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

input:checked+.switch-left+.switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

input:checked+.switch-left+.switch-right::before {
    background-color: #ccc;
}

/* Keyboard Users */
input:focus+.switch-left {
    color: #333;
}

input:checked:focus+.switch-left {
    color: #fff;
}

input:focus+.switch-left+.switch-right {
    color: #fff;
}

input:checked:focus+.switch-left+.switch-right {
    color: #333;
}

/*------------------------------------- Body -------------------------------------*/

.first-partie {
    background-image: url("./images/background1.png");
    height: calc(100vh - 100px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -500px;
}

.first-partie .row>div:first-child {
    position: relative;
    left: 150px;
    margin-top: 50px;
}

.first-partie .title-button {
    text-align: center;
}

.first-partie .title-button h1 {
    font-family: 'Heavitas';
    text-align: left;
    color: white;
}



.first-partie img {
    width: 100%;
    /* margin-top: 30px; */
    margin-left: 50px;
}

.glow-on-hover {

    width: 220px;
    padding: 8px;
    font-weight: bold;
    font-size: 24px;
    border: none;
    outline: none;
    color: black;
    background: #ff7f00;
    font-family: 'Heavitas';
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff7f00;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.glow-on-hover:hover {
    color: #000;
    text-decoration: none;
}

/* Waves Animation start*/

.hero_area {
    position: relative;
    /* height: 30vh; */
    /* background: linear-gradient(to bottom, white, white, black); */
}

.waves {
    position: absolute;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}



/* Waves Animation end*/


/* Text Partie*/

.text-partie {
    text-align: center;
    margin-top: 20px;
}

.text-partie h2 {
    font-family: 'Heavitas';
    color: black;
    font-size: 40px;
    margin-bottom: 20px;

}

.text-partie p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;

    /* font-family: 'Heavitas'; */
    color: black;
    font-size: 22px;
}

.text-partie p a {
    color: rgb(97, 96, 96);
}

.text-partie h3 {
    color: black;
    font-size: 25px;
}

.text-partie p:last-child {
    text-align: center;
}

/* Supporters Partie*/
.supporters-partie {
    margin-top: 40px;
    /* margin-bottom: 40px; */
    /* background-color: #bbbbbb; */
    text-align: center;
}

.supporters-partie h2 {
    font-family: 'Heavitas';
    color: black;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;

}


/*------------------------------------- FOOTER -------------------------------------*/






.new_footer_top {
    padding: 0px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

.footer_bottom p {
    text-align: center;
    font-family: 'Heavitas';

}


@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}


/* Cache le burger menu sur les tailles autres que le mobile */
@media only screen and (max-width:1320px) {
    .first-partie {
        background-size: unset;
        background-position-y: 0;
    }

    .first-partie .row>div:first-child {
        left: 0;
    }

    .first-partie img {
        margin-left: 0;
    }

    .rocker {
        left: 80px;
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .first-partie {
        background-position-y: unset;
        background-position-x: 70px;
        background-size: cover;
        background-color: black;
    }

    .first-partie img {
        display: none;
    }

    .first-partie .row>div:first-child {
        position: unset;
        left: 0;
        /* margin-top: 0; */
    }

    .first-partie .title-button h1 {
        text-align: center;
    }

    .waves {
        height: 40px;
        min-height: 40px;
    }

    .supporters-partie img {
        width: 100%;
    }

    .rocker {
        left: 0px;
    }
}


@media only screen and (max-width:600px) {
    .logo {
        height: 100px;
    }

    .text-partie h2 {
        font-size: 25px;
    }

    .text-partie p {
        font-size: 18px;
    }

    .text-partie h3 {
        font-size: 21px;
    }

    /* Supporters Partie*/
    .supporters-partie h2 {
        font-size: 25px;
    }


}